botConnections/workflows/marketing_auto_post.json
{
  "name": "Marketing Auto-Post Workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "ENTER_GOOGLE_SHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Postings",
          "mode": "name"
        }
      },
      "name": "Google Sheets Trigger",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "text": "=New Marketing Update: {{ $json.content }}"
      },
      "name": "WhatsApp Sender",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        500,
        200
      ]
    },
    {
      "parameters": {
        "caption": "={{ $json.content }}",
        "imageUrl": "={{ $json.image_url }}"
      },
      "name": "Instagram Poster",
      "type": "n8n-nodes-base.instagram",
      "typeVersion": 1,
      "position": [
        500,
        400
      ]
    }
  ],
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "WhatsApp Sender",
            "type": "main",
            "index": 0
          },
          {
            "node": "Instagram Poster",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
